a {
  color: #d3b695;
}

.activeLinks {
  text-decoration: none;
  background-color: #8e867b;
  color: #402f1c;
  padding: 5px;
}

.defaultLinks {
  text-decoration: none;
  color: #402f1c;
  padding: 5px;
}

.defaultLinks:hover {
    color: black;
}